<div class="card" id="thread">
    <header class="card-header">
        <p class="card-header-title is-size-5">
            Please Log In
        </p>
    </header>
    <div class="card-content">
        <div class="container is-mobile">
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input type="text" class="input is-success" placeholder="Text input" ng-model="user" ng-keypress="($event.charCode==13)? login() : return">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                         <i class="fa fa-check"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a class="card-footer-item" ng-click="login()">Log In</a>
    </footer>
</div>