<div class="container" id="thread" data-ng-init="loadMessages()">
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{{ currentTopic.name }}</h1>
                <h2 class="subtitle">By: {{currentAuthor}}</h2>
            </div>
        </div>
    </section>
    <br>
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p ng-repeat="message in currentMessages">
                    <strong>{{ message.Author.name }}</strong> <small>{{message.createdAt}}</small>
                    <br> {{ message.body }}
                </p>
            </div>
        </div>
    </article>
    <br>
    <div class="field">
        <label class="label">New message from {{currentUser}}</label>
        <div class="control">
            <textarea class="textarea" placeholder="New message" ng-model="currentMessage" ng-keypress="($event.charCode==13) ? postNewMessage() : return"></textarea>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-primary" ng-click="postNewMessage()" type="submit">Post</button>

        </div>
    </div>
</div>